.idmc-suggestion-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--idmc-space-2);

  inline-size: 100%;
  margin: 0;
  padding: 0;

  overflow-x: auto;
  overflow-y: hidden;

  list-style: none;
  scrollbar-width: none;
}

.idmc-suggestion-list::-webkit-scrollbar {
  display: none;
}

.idmc-suggestion-list__item {
  display: flex;
  flex: 0 0 auto;

  min-inline-size: max-content;
  margin: 0;
  padding: 0;
}