.idmc-suggestion-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.idmc-suggestion-list__item {
  display: flex;
  margin: 0;
  padding: 0;
}
